.experiencia .subtitulo {
  color: #e0e0e0;
}
.experiencia .sub-texto {
  color: #525252;
}
.experiencia .sub-texto strong {
  color: #141414;
}
.box-empresa {
  background: #f0f0f0;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  position: relative;
}
.empresa-ano {
  position: absolute;
  left: -60px;
  top: 25px;
  font-size: 1.1rem;
  line-height: 1.4;
}
.box-empresa::before {
  content: "";
  display: block;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  z-index: 1;
  height: 24px;
  width: 4px;
  top: 23px;
  left: -4px;
}
.empresa-texto {
  font-size: 1.1rem;
  line-height: 1.4;
}
.empresa-lista {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 10px;
}
.empresa-lista li {
  display: block;
  background: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1.1rem;
}
/* ------------------------------------------1000 */
@media (max-width: 1000px) {
  .box-empresa {
    margin-top: 20px;
    padding: 15px;
    gap: 10px 30px;
  }
  .empresa-ano {
    top: 20px;
    left: -50px;
    font-size: 0.875rem;
  }
  .box-empresa::before {
    top: 15px;
  }
  .empresa-texto {
    font-size: 0.875rem;
  }
  .empresa-lista li {
    padding: 5px 8px;
    font-size: 0.875rem;
  }
}
/* -------------------------------------------750 */
@media (max-width: 750px) {
  .experiencia .subtitulo {
    color: #141414;
  }
  .box-empresa {
    margin-top: 35px;
    padding: 15px;
    gap: 10px 30px;
  }
  .empresa-ano {
    top: 18px;
    left: 90px;
    font-size: 0.875rem;
  }
  .box-empresa::before {
    height: 21px;
  }
}
/* -------------------------------------------500 */
@media (max-width: 600px) {
  .box-empresa {
    grid-template-columns: 1fr;
    margin-top: 20px;
    padding: 10px;
    gap: 5px;
  }
  .empresa-ano {
    top: 13px;
    left: 80px;
    font-size: 0.7rem;
  }
  .box-empresa::before {
    top: 9px;
  }
  .empresa-texto {
    font-size: 0.8rem;
  }
  .empresa-lista li {
    padding: 4px 6px;
    font-size: 0.8rem;
  }
}
/* -------------------------------------------380 */
@media (max-width: 380px) {
  .box-empresa {
    margin-top: 17px;
  }
  .empresa-ano {
    top: 14px;
    left: 85px;
    font-size: 0.6rem;
  }
  .box-empresa::before {
    height: 18px;
  }
  .empresa-texto {
    font-size: 0.7rem;
  }
  .empresa-lista li {
    padding: 3px 5px;
    font-size: 0.7rem;
  }
}
